include admin_header.pug

div(class="wrapper")
    div(class = "left-panel text-center")
        h1 Panel
        ul
            li
                a(href="/admin-order") Orders
    div(class="dashboard-container")
        h1(class="text-center") Admin Dashboard

